[mysqld]
character-set-server = utf8mb4
collation-server = utf8mb4_general_ci
bind-address = 0.0.0.0
performance_schema=ON
log_slow_admin_statements=ON
log_queries_not_using_indexes=ON
slow_query_log = ON
